* {font-family: Roboto;}

body {margin: auto; transition: 250ms;}

nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    background-color: aliceblue;
    transition: 250ms;
}

nav a:hover {background-color: rgb(227, 235, 241);}
nav a:link, nav a:visited {text-decoration: none; color: black;}

#Projects ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
}

#Projects ul li {
    background-color: rgb(196, 218, 238);
    border-radius: 8px;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    transition: 250ms;
    cursor: pointer;
}

#Projects ul li:hover {
    background-color: rgb(177, 199, 219);
}

@media only screen and (max-width: 500px) {
    nav {flex-direction: column;}
    body {background-color: green;}
    #Projects ul li {
        background-color: #CCDDD3;
    }
    #Projects ul li:hover {
        background-color: #a7b8ae;
    }
}

@media only screen and (min-width: 501px) and (max-width: 800px) {
    body {background-color: rgb(128, 0, 0);}
    #Projects ul li {
        background-color: #d5afaf;
    }
    #Projects ul li:hover {
        background-color: #b69393;
    }
}